.main_block{
    display: flex;
    flex-direction: column;
    align-items: center;

}


#new-img{
    padding: 0.5rem 2rem ;
    border: none;
    color: white;
    background: black;
    border-radius: 5px;

}


body{
    background: greenyellow;
}


#new-img:active{
    width: 200px;
    height: 50px;
    border-radius: 5px;
    color: blue;
}